.profile-img {
    height: 92%;
    width: 92%;
    /* background-image: url("../../assets/img/m1.gif"); */
    /* background-size: cover; */
    border-radius: 50%;
    /* background-repeat: no-repeat;
    background-position: center; */
}